.card{
    width: 70% !important;
    height: 500px !important;
    position: relative !important;
}
.card_body{
   display: flex !important;
   justify-content: center !important;
   background-color: lightgray !important;
}

#img{
    border-radius: 50%;
    border: 1px solid lightslategray !important;
    padding: 7px;
    background-color: white !important;
    margin: 20px 0px;
    
}
.icon_btn{
    border-radius: 50% !important;
    background-color: rgb(232, 255, 198) !important;
}
.icon_btn:hover{
    background-color: rgb(0, 129, 34) !important;
    color : rgb(218, 255, 164) !important;
}